{% extends 'base.html' %}
{% block body %}


<div class="card result-card border-2 mt-2">
    <div class="row align-items-start no-gutters">
        <div class="col mx-auto">
            <div class="card-block px-1 mb-2">
                <h3 class="card-header">Remember to floss!</h3>
                <p class="card-text">{{ cakes }} cake and {{ shakes }} milkshake give a toothache rating of {{ tooth }} out of 20! ♡〜٩( ˃▿˂ )۶〜♡</p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}